
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Butcherman&family=Chokokutai&family=Creepster&family=DM+Serif+Text:ital@0;1&family=Domine:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Henny+Penny&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monsieur+La+Doulaise&family=Mystery+Quest&family=Nosifer&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Puddles&family=Sixtyfour+Convergence&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #d8c09fe5;
}

header {
    background-image: linear-gradient(to top, #003600, #067c06);
    color: white;
    padding: 1px 2px 15px 2px;
    margin: -15px -10px 0.2px;
    border-radius: 0px 0px 13px 13px;
    box-shadow: 2px 2px 14px black;
}

header h1 {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 45px;
    padding: 10px 0px 0px 0px;
    text-shadow: 2px 2px 0px #0000003a;
}

header > p {
    text-align: center;
    font-size: 20px;
    padding: 0px 10px 15px 10px;
    text-shadow: 2px 2px 0px #00000031;
}

nav > a {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: white;
    padding: 10px;
    margin: 15px;
    text-decoration: none;
}

nav > a:hover {
    background-color: #018601;
    border-radius: 3px;
    box-shadow: 1px 1px 10px 1px #099409;
    transition: 1s;
}

main {   
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 0px 10px #5c473a9c;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    border-radius: 10px 10px 13px 13px;
}

main h2 {
    font-weight: normal;
}

h2 {
    font-family: 'Android', sans-serif; /* Aplica a fonte ao corpo da página */
}

.historia {
    color: #003600;
    font-size: 27px;
}

main p {
    text-align: justify;
    text-indent: 20px;
    font-size: 1em;
    line-height: 2em;
}

main span {
    color: #014101;
    font-size: 1em;
    font-weight: bold;
    padding: 2px 6px;
}

.dan {
    color: #003600;
    text-decoration: none;
    background-color: #06b6069d;
    border-radius: 2px;
    padding: 2px 6px;
    font-weight: bold;
}

.dan:hover {
    text-decoration: underline;
    color: #09e009;
    background-color: #003600;
    transition: 0.6s;
}

.img {
    margin: auto;
}

.blue {
    height: 350px;
    width: 100%;
}

.principal {
    background-image: linear-gradient(to right, #09da099f, white);
    font-weight: 100;
    color: #039403;
    padding: 4px 4px 4px 6px;
    border-radius: 5px 5px 5px 5px;
}

.under {
    text-align: center;
}

.irina {
    border-radius: 5px 5px 5px 5px;
    height: 150;
    width: 100%;
    text-align: center;
}

.pessoa {
    text-align: center;
}

.video {
    background-color: #014101;
    padding: 20px 20px;
    margin: 40px -20px;
    padding-bottom: 57%;
    position: relative;
}

.video > iframe {
   position: absolute;
   top: 5%;
   left: 5%;
   width: 90%;
   height: 90%;
   border-radius: 5px 5px 5px 5px;
}

aside{
    background-color: #0cb10c77;
    border-radius: 4.5px ;
    box-shadow: 5px 5px 15px #5c473a9c;
    width: 900px;
    padding: -40px 0px 5px 0px;
    margin: auto;
}

aside ul {
     list-style-type: '\1F5F8\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

.quer {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px 7px 10px 12px;
    background-color: #014101;
    margin:30px 0px 10px 0px;
    border-radius: 4.5px 4.5px 0px 0px;
}

.paragrafo {
    margin: 15px 15px 15px 15px;
}

.p {
    margin: 15px 15px 15px 15px;
 }

footer {
    background-color: #014101;
    margin: 30px -8px -10px -8px;
    padding: 5px;
    text-align: center;
    color: white;
    padding: -10px 20px -10px 20px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: #07bd07;
    transition: 0.7s;
}